<div class="serach-container" [hidden]="companyData">
    <div class="row company-input-container">
        <input type="text" placeholder="Company name or number" [(ngModel)]="companyInput">
    </div>
    <div>
        <button text="Search" value="Search" (click)="getCompanyInfo()">Search</button>
    </div>
</div>
<div class="result-container" [hidden]="!companyData?.length">
    <a href="#" (click)="restCompanyData()">Back to search</a>
    <div class="row">
        <h2>Search results</h2>
        <div *ngFor="let data of companyData">
           <div><a href="#">{{data.title}}</a></div>
           <div>{{data.company_number}}</div>
           <div>
            {{data?.address.address_line_1}}, {{data?.address.premises}}, {{data?.address.locality}}, {{data?.address.postcode}}, {{data?.address.country}}
           </div>
        </div>
    </div>
</div>